
[Unit]
Description=ChronoVDR : liaison mosquitto http
After=network-online.target mosquitto.service
Wants=network-online.target
Requires=mosquitto.service

[Service]
Type=simple
User=pi
WorkingDirectory=/var/www/html/chronoVDR/serial
ExecStart=/usr/bin/python3 /var/www/html/chronoVDR/serial/mqtt.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target